.header {
  background: $off-black;
  color: $off-white;
  margin-bottom: $xl-size;
  padding: $m-size 0;
}

.header__title {
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  font-size: $m-size;
  color: rgb(57, 185, 207);
  margin: 0;
  font-weight: 500;
}