//color
$off-black: rgb(32, 30, 30);
$off-white: rgb(119, 218, 238);
$dark-blue: #333745;
$purple: rgb(42, 90, 180);
$blue: #3c4251;
$light-blue: #464b5e;
//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;